name: Update 'latest' Tag

on:
  push:
    branches:
      - main

jobs:
  update-latest-tag:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git tag -f latest
          git push -f origin latest
