name: Lint

on:
  pull_request:
    branches:
      - main

jobs:
  lint-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff
      - name: Run Ruff
        run: ruff check .

  lint-dotnet:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'
      - name: Restore
        run: dotnet restore src\plugin\Python4CPM.csproj
      - name: Lint
        run: dotnet format src\plugin\Python4CPM.csproj --verify-no-changes --no-restore

  build-dotnet:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: gonatienza/_python4cpm
          token: ${{ secrets._PYTHON4CPM_TOKEN }}
          path: _python4cpm
      - name: Get private lib files
        run : |
          Expand-Archive -Path "_python4cpm\Credentials Management .NET SDK*.zip" -DestinationPath "_python4cpm\lib"
          New-Item -ItemType Directory -Force -Path "src\plugin\lib"
          Copy-Item -Path "_python4cpm\lib\CyberArk.Extensions.Utilties.dll" -Destination "src\plugin\lib"
          Copy-Item -Path "_python4cpm\lib\CyberArk.Extensions.Plugins.Models.dll" -Destination "src\plugin\lib"
      - uses: microsoft/setup-msbuild@v1
      - name: Build .NET Release
        run: |
          msbuild src\plugin\Python4CPM.csproj /p:Configuration=Release /p:Platform="AnyCPU"
