name: Python4CPM Tests

on:
  pull_request:
    branches:
      - main

jobs:
  linux:
    name: Linux Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install and test
        run: |
          python -m pip install --upgrade pip
          pip install . pytest
          pytest tests/python4cpm-tests.py

  macos:
    name: MacOs Python ${{ matrix.python-version }}
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install and test
        run: |
          python -m pip install --upgrade pip
          pip install . pytest
          pytest tests/*.py

  windows:
    name: Windows Python ${{ matrix.python-version }}
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install and test
        run: |
          python -m pip install --upgrade pip
          pip install . pytest
          pytest tests/python4cpm-tests.py
